body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

li a {
}

.separator {
    display: block;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    width: 100%;
    position: relative;
    height: 6px;
}