{% extends "blog/base.html" %}
{% block about %}active{% endblock %}
{% block title %}
    About me
{% endblock %}
{% block content %}

    <p class="blogposttext">Hey.</p>
    <img class="center-block img-responsive" style="height:50%; width:50%;"src="http://res.cloudinary.com/alexander-bike/image/upload/v1465817515/meintree_cf82d6.jpg">
    <br>
    <p class="blogposttext text-center"><i>That's me. In a tree.</i></p>
    <h3>Why are you doing this!?</h3>
    <p class="blogposttext">Short answer: Because I can.
    </p>
    <p class="blogposttext">
        Long answer: I want to see the world. Everything. Every river, every city, every mountain. And the best way
        to see everything is on a bicycle. I did a short tour in southern Germany, Austria and Slovakia in the summer of 2015.
        I loved every single second of it. I passed a nudist beach at the Danube, ate free cucumbers at a shed set up by
        a farmer with bent cucumbers that just said "GURKEN", had cold fresh locally produced milk from a vending machine
        somewhere in Bavaria. And thats just some highlights from a week.
    </p>
    <p class="blogposttext">
        <h4>Imagine what I'd experience in 50 weeks!</h4>
    </p>
    <h3>About me</h3>
    <p class="blogposttext">So you probably pressed the about me page to actually know about me, so here we go: </p>
    <p class="blogposttext">I grew up in rural Sweden, back then I loathed nature. It was just everywhere around me and
        absolutely super boring. But then I got older. Now I love the outdoors and want see <u>all</u> the magnificent things
        Mother Earth has created!
        </p>
    <p class="blogposttext">
        After high school I went to university to study engineering. Did three years, one in
        Germany and got two years left on my degree. Rationally I should finish my degree before doing anything else
        but I just can't wait. When is the next time in my life where I will have so much spare time as I do know?
        The answer is probably retirement, and that is simply too far away.
    </p>
    <p class="blogposttext">
        To finance this trip I've been working as a science teacher from October 2015-June 2016.
        It's been very rewarding but also very stressful at times. It was a
        cool part of my life, but I think I would never want to be a teacher, but hey, you gotta try out everything!
        I also know some of my past students are probably reading this (hej!), sorry for making you make so many lab
        reports!
    </p>

    <p class="blogposttext"> I'll probably add some more things here later, in the meantime, check out my blog! </p>
{% endblock %}