{% extends "blog/base.html" %}
{% block about %}active{% endblock %}
{% block title %}
    About me
{% endblock %}
{% block content %}

    <p class="blogposttext">Hey.</p>
    <img class="center-block img-responsive" style=""src="http://res.cloudinary.com/alexander-bike/image/upload/v1465421233/new_pic_oquisl.jpg">
    <br>
    <p class="blogposttext text-center"><i>That's me. In a tree.</i></p>
    <h3>Why are you doing this!?</h3>
    <p class="blogposttext">Short answer: Because I can.
    </p>
    <p class="blogposttext">
        Long answer: I want to see the world. Everything. Every river, every city, every mountain. And the best way
        to see everything is on a bicycle. I did a short tour in southern Germany, Austria and Slovakia in the summer of 2015.
        I loved every single second of it. I passed a nudist beach at the Danube, ate free cucumbers at a shed set up by
        a farmer with bent cucumbers that just said "GURKEN", had cold fresh locally produced milk from a vending machine
        somewhere in Bavaria. And thats just some highlights from a week.
    </p>
    <p class="blogposttext">
        Imagine what I'd experience on this trip!
    </p>
    <h3>About me</h3>
    <p class="blogposttext">So you probably pressed the about me page to actually know about me, so here we go: </p>
    <p class="blogposttext">I grew up in rural Sweden, back then I loathed nature. It was just everywhere around me and
        absolutely super boring. But then I got older, went to university to study engineering. Did three years, one in
        Germany and got two years left on my degree. Rationally I should finish my degree before doing anything else
        but I just can't wait. To finance this trip I've been working as a science teacher from October 2015-June 2016
        and well yeah, that's been an experience. Working has just made me even more hyped for the trip!</p>

{% endblock %}