{% extends "blog/base.html" %}
{% block archive %}
    active
{% endblock %}
{% block title %}
    Archive
{% endblock %}
{% block content %}
    {% regroup posts_list by pub_date|date:"Y" as year_list %}
    {% for year in year_list %}
        {% regroup year.list by pub_date|date:"F" as month_list %}

        {% for month in month_list %}


            <a href="../{{ year.grouper }}/{{ month.grouper|slice:":3" }}"><h3>{{ year.grouper }} {{ month.grouper }}  </h3></a>
            <ul>
                {%  for blog in month.list %}
                    <li class="">
                        <a href="../{{ blog.slug }}">{{ blog.title }}</a>
                    </li>

                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}