{% extends "blog/base.html" %}
{% block home %}
    active
{% endblock %}

{% block content %}
        <div class="col-md-9 ">

            {% if posts_list %}


                {% for BlogPost in posts_list %}
                    <h1><a href="{% url 'blog:detail' BlogPost.slug %}">{{ BlogPost.title }}</a></h1>
                    <p class="blogposttext">{{ BlogPost.body|safe }}</p>

                {% endfor %}

                {% if is_paginated %}
                    <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}

                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                    </div>
                {% endif %}


            {% else %}
                <p>No blog posts.</p>
            {% endif %}



        </div>
{% endblock %}
{% block sidebar %}
    <p class="blogposttext">Like my page!</p>
    <div class="fb-page" data-href="https://www.facebook.com/alexander.biking" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/alexander.biking"><a href="https://www.facebook.com/alexander.biking">alexander.bike</a></blockquote></div></div>
{% endblock %}
