{% extends "blog/base.html" %}
{% block equipment %} active {% endblock %}
{% block content %}
    <p>Sadly I can't do a bicycle tour without a bike or equipment to go with it. What follows is a list of things I'm bringing for this trip.</p>
    <p>As I had some trouble actually finding out what things cost, for some reason nobody wants to put this number online,
        I want to give future tourers this information!</p>
    <p>I'm also going to state the price for all the items. Prices will be in American dollars
        (even though I bought a lot of things in Sweden, where things are a great deal more expensive than the US).</p>
    So don't see this as the definite cost to bike touring, but as a general rule of thumb.
    Also I should mention again that I'm not sponsored in any way.
    <div class="separator"></div>


    {% if equipment_list %}
        {% for category, items in equipment_list.items %}
            <h1>{{ category.title }}</h1>
            <p>{{ category.description }}</p>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>

                    <td class="col-md-5">{{ item.product_name }}</td>
                    <td class="col-md-6">{{ item.description }}</td>
                    <td class="price col-md-1">${{ item.price }}</td>
                </tr>
            {% endfor %}

            </tbody>
            </table>
        {% endfor %}
    {% endif %}



{% endblock %}