{% extends "blog/base.html" %}
{% block equipment %} active {% endblock %}
{% load staticfiles %}

{% block scripts %} <script src="{% static 'blog/js/equipment.js' %}"></script> {% endblock %}
{% block title %}
    Equipment
{% endblock %}
{% block content %}

    <p class="blogposttext">Sadly I can't do a bicycle tour without a bike or equipment to go with it. What follows is a list of things I'm bringing for this trip.</p>
    <p class="blogposttext">As I had some trouble actually finding out what things cost, for some reason nobody wants to put this number online,
        I want to give future tourers this information!</p>
    <p class="blogposttext">I'm also going to state the price for all the items. Prices will be in American dollars
        (even though I bought a lot of things in Sweden, where things are a great deal more expensive than the US).</p>
    <p class="blogposttext">Don't see this as the definite cost to bike touring, but as a general rule of thumb.
        Also I should mention again that I'm not sponsored in any way.
    </p>
    <div class="separator"></div>


    {% if equipment_list %}



        {% for category in equipment_list %}
            <h2>{{ category.title }}</h2>
            <p class="blogposttext">{{ category.description }}</p>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for item in category.equipmentitem_set.all %}
                    <tr>

                        <td class="col-md-5">{{ item.product_name }}</td>
                        <td class="col-md-6">{{ item.description }}</td>
                        <td class="price col-md-1">${{ item.price }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="col-md-1"><b>Total: $<span class="totalprice {{ category }}">{{ category.total }}</span></b></td>
                </tr>
                </tbody>
            </table>
        {% endfor %}


    {% endif %}
    <h1>Summary</h1>
    <p class="blogposttext">Overall I've spent <b>$<span id="totaltotalprice"></span></b> cash money on equipment. If you factor out the computer
        and phone (which most people I assume have) the total is <b>$<span id="totaltotalprice_nocomputer"></span></b></p>
{% endblock %}