{% extends "blog/base.html" %}


{% block content %}

{% if latest_posts_list %}
        <div class="container">

    {% for BlogPost in latest_posts_list %}
<h1><a href="{% url 'blog:detail' BlogPost.slug %}">{{ BlogPost.title }}</a></h1>
        <p>{{ BlogPost.body|safe }}</p>
    {% endfor %}
  {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/blog?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/blog?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
        </div>

{% else %}
    <p>No blog posts.</p>
{% endif %}
    {% endblock %}
