{% extends "blog/base.html" %}
{% block route %}active {% endblock %}
{% block content %}
    <p>This is my rough route, it's around 10 000km. Flying from GOT to JFK and buying a bike in NYC.
        Then I'm going southwards. Ferry from Panama to Cartagena.
        Then to Santiago. And after that I have no idea what I'm doing, maybe going home, maybe continue to Australia? We'll see!
    </p>
    <img src="https://lh3.googleusercontent.com/R9PEaT5rKYnVZKpuAr2tVbVs1SlQLMb2pBKFld2uO9_qJnU1b-BXcMey0k1OH5A9ggKxmhAbuNf8DlhcXC_fAGWdSY8ur6D6vZ0fn5DjHFCwAoruhNw_1Vi92TQdOzjap1zEvYz7WexvRgt_VCVtUd03ssFTHFnLJ5avG5zb2pajffyi27O_9tz1GEPaADE-Ft_8mgBMFX0OiarwCMVU0oatWcfOqpEZyfAnNuQJeBWmUt648C4jb8eL3AyJgAfrJt_E_-86Gz6LH6GwUyUggKvJr9sK9B16mFmgp99pDGnmGulIAy-J7UGmxKe1hhQ8WDhh-VbRmY2t121yk20eIlLPSG92nYzYfRVNs0CLzkFRwsFaZXCAfg2VeWexovKoiI3d1qRaCz2zWFAH9qQSt3LrN5BoYB514nMBbV0yab21_9uj4RiIBhp8eM8oGXL-2L-Fqpjre0Xk247wCKcdsXlm5AsrozWFtmvVQYXLOU-i3DX1hzhjdF9137d2GSxe8_3MGyNuFxNPL0TiNdhgYwO7l_C54ch81Bj_fk8PjglaiaZKj-0PeyzleAmpF4Z-7Wnq=w1111-h773-no"
         class="img-responsive">

    {% endblock %}