{% extends "blog/base.html" %}
{% block route %}active {% endblock %}
{% block title %}
    Route
{% endblock %}
{% block content %}
    <p class="blogposttext">This is my rough route, it's around 10 000km. Flying from GOT to JFK and buying a bike in NYC.
        Then I'm going southwards. Ferry from Panama to Cartagena.
        Then to Santiago. And after that I have no idea what I'm doing, maybe going home, maybe continue to Australia? We'll see!
    </p>
    <img src="http://res.cloudinary.com/alexander-bike/image/upload/v1459099183/Americanroute.png"
         class="img-responsive">

    {% endblock %}